<font color='green'> <h1> <center> Python - Sets </center> </h1> </font>

A set is a unique collection of objects in Python. It can be denoted with a curly bracket {}. Duplicate will be removed.

<b>Creation<b>

Set is created with {} brackets.

In [ ]:
empty_set = {}
empty_set

Set can have elements in it.

In [ ]:
my_set = {'a' , 'b', 'c'}
my_set

If Set elements are duplicate then they are removed automatically

In [ ]:
my_set = {'a' , 'b', 'c', 'a' , 'b', 'c'}   # set elements are duplicate and removed automatically
my_set

Set elements can be of mixed type.

In [ ]:
my_mixed_set = {1, '1', 2, '2', 3, '3', '3', 1.1, True} 
my_mixed_set

Type of set variable can be checked with type()

In [ ]:
type(my_set)

Type of individual set elements can be testd with type() on those elements.

Size of set can be determined using len().

In [ ]:
len(my_set)

<b>Creation of set from list<b>

Set can be created from list of elements.

In [ ]:
my_list = [1, '1', 2, '2', 3, 3, 3, '3', '4', 4]  #create a list from which set needs to be formed
my_list

In [ ]:
my_new_set = set(my_list)   # set can be created from list, duplicates are removed 
my_new_set

<b>Conversion of set to list <b>

In [ ]:
my_set = {'mumbai', 'pune', 'solapur'}  #create a set of cities
print(my_set)
print(type(my_set))

In [ ]:
my_new_list = list(my_set) # use list() to convert a set into list
print(my_new_list)
print(type(my_new_list))

<b>Operations on set<b>

add() can be used to add an element into set.

In [ ]:
country_set = {"India", "US", "US", "India"}
country_set   #set has only two elements "India" and "US"

In [ ]:
country_set.add('UK')
country_set  #set has three elements "India" ,"US" & "UK"

remove() can be used to remove an element from the set.

In [ ]:
country_set.remove("UK")  # remove 
country_set  #set has only two elements "India" and "US"

In [ ]:
country_set.remove("China")  # as China not present in the set, error thrown

discard() can be used to remove an element from set. If element is not present, then error is not thrown.

In [ ]:
country_set.discard("China")

pop() operation can be used to remove the first element from the set.

In [ ]:
test_set = {1, 2, 3, 4, 5}

In [ ]:
test_set.pop()   # removes first element from set i.e. 1
test_set

In [ ]:
test_set.pop()   # removes first element from set i.e. 2, set is altered by this operation
test_set

clear() can be used to remove all the elements of set.

In [ ]:
test_set = {4, 5, 6}
test_set

In [ ]:
test_set.clear()
test_set

'in' and 'not in' can be used to determine if the element is present in set or not

In [ ]:
"India" in country_set

In [ ]:
"Australia" in country_set

In [ ]:
"India" not in country_set

In [ ]:
"Australia" not in country_set

<b> Working with sets<b>

'&' operator can be used to determine common elements of two or more sets

In [ ]:
maharashtra_cities = {"Pune", "Mumbai", "Nagpur"}
goa_cities = {"Panjim", "Vasco", "Madgaon"}
western_region_cities = {"Panjim", "Vasco", "Pune", "Mumbai", "Nagpur"}

In [ ]:
maharashtra_cities & western_region_cities  # common cities between two sets

In [ ]:
goa_cities & western_region_cities  # common cities between two sets

In [ ]:
maharashtra_cities & goa_cities  # common cities between two sets, nothing common

intersection() method can also be used to determine the common elements between two sets.

In [ ]:
western_region_cities.intersection(maharashtra_cities)

In [ ]:
western_region_cities.intersection(goa_cities)

'-' opearator can be used to determine the elements which are only present in set1.

In [ ]:
western_region_cities - maharashtra_cities

In [ ]:
western_region_cities - goa_cities

In [ ]:
maharashtra_cities  - goa_cities

difference method() can be used to determine the elements which are part of set 1 only, not present in set 2.

In [ ]:
western_region_cities.difference(maharashtra_cities)

In [ ]:
western_region_cities.difference(maharashtra_cities)

'|' operator can be used to get all cities from both sets

In [ ]:
maharashtra_cities | western_region_cities  # all cities between two sets

In [ ]:
maharashtra_cities | goa_cities  # all cities between two sets

union() method can be used to get all the elements from both sets.

In [ ]:
maharashtra_cities.union(goa_cities)

# Exercise

Q1.  Consider following set definitions. <br>
     language set - python, java, c, c++ <br>
     data science language set - pytho, r <br>
     
     Answer the following questions with help of appropriate code. 
     (a) What are all programming languages are available?
     (b) How many data science languages are available?
     (c) List languages which are not data science languages?
     (d) List languages which are both programming language and data science languages.
     (e) List languges which are only data science languages.

In [ ]:
#Try it here